.footer {
  padding: 2rem 5%;
  background: #f8f9fa;
  color: #333;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 2rem;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-img {
  height: 80px;
  width: auto;
}

.footer-text-highlight {
  font-size: 1.8rem;
  font-weight: 700;
  color: #E6B800;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons svg {
  font-size: 1.5rem;
  color: #2A5298;
  cursor: pointer;
}

.social-icons svg:hover {
  color: #E6B800;
}

.contact-info {
  text-align: left;
}

.contact-info h4 {
  font-size: 1.2rem;
  color: #31708E;
  margin-bottom: 1rem;
}

.contact-info p {
  margin: 0.5rem 0;
}

.contact-info a {
  color: #2A5298;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo, .contact-info, .social-media {
    width: 100%;
  }

  .contact-info {
    text-align: center;
  }

  .social-media {
    align-items: center;
  }
}


.footer-section {
  text-align: center;
  color: white;
  background-color: #31708E;
}