/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  overflow-x: hidden;
} */
/* 
.hero {
  padding: 3rem 0;
  background-color: rgb(253 246 227);
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: rgb(44 62 80);
  margin: 1px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta-button {
  background-color: rgb(230 184 0);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

/* .cta-button:hover {
  background: #FFFFFF;
} */
/* 
@media (max-width: 768px) {
  .hero {
    padding: 1rem 3%;
  }
}

.header-title {
  text-align: center;
  color: rgb(44 62 80 / var(1, 1));
} */