.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 0.5rem 2%;
  transition: all 0.3s ease-in-out;
}

.header.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #E6B800;
}


.header-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 60px;
  width: auto;
}

.logo-text-highlight {
  font-size: 1.5rem;
  font-weight: 800;
  color: #E6B800;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}

.nav-links li a {
  color: #2C3E50;
  text-decoration: none;
  font-weight: bold;
}

.nav-button {
  background: #E6B800;
  color: #2C3E50;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-menu {
  display: flex;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    align-self: center;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 72px;
    right: 5%;
    background: #FDF6E3;
    width: 90%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(212, 200, 200, 0.1);
    border-radius: 10px;
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
    padding: 0;
  }

  .nav-menu li {
    margin: 1rem 0;
  }
}